body{
  background: linear-gradient(to bottom, rgb(0, 0, 0), white);
  height: 600vh;
  overflow-y: hidden;
  
}




h1, h2{ text-shadow: 0 0 5px white;}

p, h1, h2{color: blanchedalmond;}

p{font-size: 150%;}

